TZ=Europe/Stockholm
PUID=
PGID=
UMASK=002

DOCKER_CONFIG=
ARR_BACKUPS=
FILESHARE=

CERTS=
CERT_PASSWORD=

# Tdarr
TDARR_URL=

# Gluetun
WIREGUARD_PRIVATE_KEY=

# Sonarr
SONARR_LOG_LEVEL=info
SONARR_LOG_DBENABLED=false
SONARR_POSTGRES_HOST=
SONARR_POSTGRES_PORT=
SONARR_POSTGRES_USER=
SONARR_POSTGRES_PASSWORD=
SONARR_POSTGRES_MAINDB=
SONARR_SERVER_SSLPORT=

# Radarr
RADARR_LOG_LEVEL=info
RADARR_LOG_DBENABLED=false
RADARR_POSTGRES_HOST=
RADARR_POSTGRES_PORT=
RADARR_POSTGRES_USER=
RADARR_POSTGRES_PASSWORD=
RADARR_POSTGRES_MAINDB=
RADARR_SERVER_SSLPORT=

# Prowlarr
PROWLARR_LOG_LEVEL=info
PROWLARR_LOG_DBENABLED=false
PROWLARR_POSTGRES_HOST=
PROWLARR_POSTGRES_PORT=
PROWLARR_POSTGRES_USER=
PROWLARR_POSTGRES_PASSWORD=
PROWLARR_POSTGRES_MAINDB=
PROWLARR_SERVER_SSLPORT=
